@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');
:root{
    --font-family:'Poppins', sans-serif;
    --bg-color: #F0EB8D;
    --primary-color: #2D2727;
}
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}
h1{
    font-size: 5em;
}
h3{
    font-size: 2em;
    font-weight: 300;
    margin-top: 10px;
}
.mensagem{
    font-size: 1.5em;
    margin-top: 20px;
}
.box{
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
}